.widgets_wr_bottom_friend{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}

.widgets_wr_bottom_friend_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.widgets_wr_bottom_friend_img{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* padding: 20px; */
    margin-right: 10px;
}

.point{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: relative;
    margin-left: 10px;
    /* top: 10px;
    left: -65px; */
}